---
import { getCollection } from "astro:content";
import { wordCount } from "../helpers";
import PageHeading from "../components/page-heading.astro";
import PostsSkeleton from "../components/posts-skeleton.astro";
import Layout from "../layouts/main.astro";

const localPosts = await getCollection("post", ({ data }) => data.status === "published");
const localPostsData = localPosts
  .sort((a, b) => new Date(b.data.dateFormatted).getTime() - new Date(a.data.dateFormatted).getTime())
  .map((p) => ({
    title: p.data.title,
    link: `/post/${p.slug}/`,
    pubDate: p.data.dateFormatted,
    description: p.data.description,
    thumbnail: p.data.coverImage,
    readTime: Number(wordCount(p.data.wordCount)),
    source: "local",
  }));
---

<Layout title="My Posts | AA" description="Keep an eye out for fresh insights and updates">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Stuff I Think About"
      description="Mostly tech, sometimes life. I write when something's worth sharing."
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <PostsSkeleton localPosts={localPostsData} />
    </div>
  </section>
</Layout>
