---
import PageHeading from "../components/page-heading.astro";
import TalksLoop from "../components/talks-loop.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Talks">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Talks"
      description="Sometimes I do sharing session technology, journey and etc!"
    />

    <div class="z-50 flex flex-col items-stretch w-full gap-5 my-8">
      <TalksLoop />
    </div>
  </section>
</Layout>
